body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;

}

.container{
    background-color: bisque;
    width: 560px;
    height: 560px;
    margin:auto;
    display: flex;
    margin-left: 900px;
    margin-top: 100px;
    flex-wrap: wrap;
    box-shadow: 10px 10px 28px rgb(41, 39, 39) ;

}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-left:200px;
    margin-bottom:100px
}

#cpick{
    height: 50px;
    width: 50px;
    border: 500 black solid;
    border-radius:1000px;
    padding:10px;
    
}



