body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;

}

.container{
    background-color: bisque;
    width: 784px;
    height: 784px;
    margin:auto;
}

